# Ignore Python compiled code (byte code) #
###################
*.pyc

# Ignore Image Files #
###################
*.png
!rapideye.png

# Ignore directories related with packaging #
###################
rapideye.egg-info/
dist/
build/
